
.comment_container {
  width: 800px;
  
  
  justify-content: center;
  padding: 0 60px;
  margin: 0 auto;
  text-align: center;
  
}

.comment_sentence{
  line-height: 1.8;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 17px;
}

#comment_text {
  width: 580px;
  height: 100px;
  margin-bottom: 10px;

}
.comment_image {
 margin-top: 10px;
 margin-bottom: 20px;
}  
.comment_contain {
  margin-bottom: 15px;
  width: 680px;
}
p {
  white-space: pre-wrap;
}