.edit_container {
  width: 1025px;
  padding: 0 40px;
  margin: 0 auto;
  background-color: #A4C6FF;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 0px 5px #A4C6FF;
  border: dashed 3px white;
  padding: 0.1em 0.6em;
  color: #454545;
  border-radius: 0.4em;
}
.edit_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#topic_description {
 
}
textarea {
  resize: none;
  width:580px;
  height:200px;
}
.select-box {
  width: 363px;
  margin-left: 113px;
}
.choice_sentence {
  margin-left: 190px;
}
.explain_sentence {
  margin-left: 120px;
}
.explain_btn {
  margin-left: 260px;
}