
.index_kind_japanese {
	line-height: 1.7;
	font-family: 'M PLUS 1p', sans-serif;
 font-weight: 800;
 color: #FF4500;
 font-size: 27px;
 letter-spacing: 0.2em;
 animation: blinkAnime 1s infinite alternate;
}
@keyframes blinkAnime{
  0% { color: #000000 }
100% { color: #FF4500 }
}

.index_kind_japanese:hover {
  background: #FADAD9;
}


.flower_main {

  width: 1025px;
  margin: 0 auto;
}

.flower {
	
	height: 550px;
	background-image: url('app/assets/images/flower.png');
	
	background-size: contain;
  border-radius: 0.4em;
}

.topic_index_main {
  
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.topic_choice_sentence {
  margin-top: 15px;
  line-height: 1.8;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 90px;
 
}
.topic_choice_pulldown{
	
  margin-bottom: 15px;
	padding: 7px 30px 7px 10px;
	font-size: 93%;
	line-height: 1.1em;
	border-radius: 0.4em;
	border: none;
  margin-right: 189px;

   
  width: 200px;
}
.search_btn {
 margin-left: 158px ;
 
}

.inner {
  width: 1025px;
  margin: 0 auto;
}

.topic_lists {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.card_wrapper {
 
  justify-content: center;
  height: 190px;
  margin-bottom: 30px;
  
}

.card_wrapper{
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 3px white;
  padding: 0.1em 0.6em;
  color: #454545;
  border-radius: 0.4em;
  
}
.card_wrapper:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.card {
  width: calc((100% - 10px) / 2);
  margin-top: auto;
  
}
.card_name {
  font-size:18ppx;
  margin-top: -10px;
}
.card_name span {
  border-bottom: 1.8px rgba(0, 0, 0, 0.18) solid;
}

.topic_card_sentence {
  font-size:110%;
  margin-left: 20px;
  
  color: maroon;
  font-weight: bold;
}

.card_birth {
  margin-left: 40px;

}
.card_birth span{
  border-bottom: 1.5px rgba(0, 0, 0, 0.18) dashed;
}
.card_pref {
  margin-left: 40px;
}
.card_pref span{
  border-bottom: 1.5px rgba(0, 0, 0, 0.18) dashed;
}
.card_identity {
  margin-left: 40px; 
}
.card_identity span{
  border-bottom: 1.5px rgba(0, 0, 0, 0.18) dashed;
}
.card_identity_content {
  margin-left: 40px;
}
.card_identity_content span {
  border-bottom: 1.5px rgba(0, 0, 0, 0.18) solid;
}
.card_updated_time {
  float: right;
  font-size: 13px;
}
.card_updated_time span {
  border-bottom: 1px rgba(0, 0, 0, 0.18) solid;
}


/* 投稿ボタン */
.post-btn {
  width: 100px;
  background: #AEFFBD;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 18px;
  position: fixed;
  padding: 1px;
}
.post-btn {
  background: #A4C6FF;
  box-shadow: 0px 0px 0px 5px #A4C6FF;
  border: dashed 3px white;
  padding: 0.1em 0.6em;
  color: #454545;
}
.post-btn:hover {
  background: #98bbf7;
}


.purchase-btn-text {
  display: block;
  
}

.post-btn-icon {
  width: 80%;
}