.topic_choice_main {
  width: 1025px;
  margin: 0 auto;
  
  
}
.inner {
  width: 1025px;
  margin: 0 auto;
}

.topic_lists {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.card_wrapper_search {
  width: 330px;
  justify-content: center;
  height: 180px;
  margin-bottom: 30px;
}

.card_wrapper_search{
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 3px white;
  padding: 0.1em 0.6em;
  color: #454545;
  border-radius: 0.4em;
  
}
.card_wrapper_search:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.card {
  width: calc((100% - 10px) / 2);
  margin-top: auto;
}
.card_name {
  font-size:17px;
  margin-top: -10px;
}

.card_sentence {
  font-size:17px;
  margin-left: 20px;
}



.card_identity {
  margin-left: 20px;
}
.card_identity_content {
  margin-left: 40px;
}
.card_updated_time {
  
  float: right;
  font-size: 13px;
}

.search_right_wrapper {
  width: 530px;
  height: 180px;
  margin-bottom: 30px;
  margin-left: 10px;
}
.search_right_wrapper {
  position: relative;
  background: #f6cccc;
  box-shadow: 0px 0px 0px 5px #f6cccc;
  border: dashed 3px white;
  padding: 0.1em 0.6em;
  color: #454545;
  border-radius: 0.4em;
}
.search_right_wrapper:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #f2bebe #fff #f9b1b1;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.search_description {
  
}
.search_not_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_not {
  margin-left: 400px;
}
.search_return {
  margin-left: 400px;
}
.return_btn {
  margin-left: 430px;
}