.card_wrapper_show {
  width: 330px;
  justify-content: center;
  height: 180px;
  margin-bottom: 30px;
  margin-top: 12px;
}

.card_wrapper_show{
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 3px white;
  padding: 0.1em 0.6em;
  color: #454545;
  border-radius: 0.4em;
}
.card_wrapper_show:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}


.card_birth_show {
  margin-left: 80px;
}
.card_birth_show span{
  border-bottom: 1.5px rgba(0, 0, 0, 0.18) dashed;
}
.card_pref_show {
  margin-left: 80px;
}
.card_pref_show span{
  border-bottom: 1.5px rgba(0, 0, 0, 0.18) dashed;
}

.show_description_main {
  display: flex;
  justify-content: center;
}

.show_description_wrapper {
  width: 560px;
 
  
}
.show_description_wrapper {
  position: relative;
  background: #f6cccc;
  box-shadow: 0px 0px 0px 5px #f6cccc;
  border: dashed 3px white;
  padding: 0.1em 0.6em;
  color: #454545;
  border-radius: 0.4em;
}
.show_description_wrapper:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #f2bebe #fff #f9b1b1;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.show_description {
  letter-spacing: 0.1em;
}

.show_under {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.show_sentence, .or-text {
  line-height: 1.8;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.or-text {
  margin-top: 10px;
  font-size: 16px;
}