<%= render "shared/header" %>

<div class="destroy_main">
    <div class="success">
     
        <ruby>私<rt>わたし</rt></ruby>は <ruby>文章<rt>ぶんしょう</rt></ruby>を <ruby>消<rt>け</rt></ruby>しました</div>
    <%= image_tag('trash.png',size: '40x40')  %>
    </div>
</div>

<%= render "shared/footer" %>