.container {
  width: 1025px;
  padding: 0 40px;
  margin: 0 auto;
  background-color: #FFFFAA;
  border-radius: 0.4em;
}
header > .container{
  height:88px;
  display: flex;
  align-items: center;
}
.header_logo {
  vertical-align: bottom;
}
.header_nav {
  margin-left: auto;
}
 .header_list {
  font-size: 16px;
  font-weight: bold;
}
#hl_top {
  margin-left: 30px;
}
#hl_under {
  margin-left: 87px;
}

.header_name {
  font-size: 16px;
  font-weight: bold;
  cursor: none;
  margin-left: 40px;
}
.logout {
  font-size: 16px;
  font-weight: bold;
  margin-right: 80px;
}
