.container {
  width: 1025px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #FFFFAA;
  border-radius: 0.4em;
}

.breadcrumbs {
  position: absolute;
  top: 88px;
  left: 120px;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

header > .container{
  height:84px;
  display: flex;
  align-items: center;
}
.header_logo {
  vertical-align: bottom;
  margin-bottom: 10px;
  
}
.header_logo:hover {
  background: #FFFF66;
}
.header_nav {
margin-left: 450px;

}
.top_in_header {
  margin-left: 100px;

}
.run_out_font {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
}

.logout_logo {
  margin-bottom: 10px;
  
  top: 10px;
 
}

 .header_list {
  font-size: 14px;
  font-weight: bold;
}



#hl_top {
  margin-left: 30px;
}
#hl_under {
  margin-left: 87px;
}

.header_name {
  font-size: 17px;
  font-weight: bold;
  cursor: none;
 
}
.logout {
  font-size: 17px;
  font-weight: bold;
  margin-right: 80px;
  vertical-align: middle;

}
.run {
  width: 30px;
  height: 28px;
  vertical-align: sub;
 
}
.in {
  vertical-align: sub;
}