<header>

  <div class="container_f">
    <div class="footer_logo">
      <%= image_tag "logo.png", class:"footer_image_logo" %>
    </div>
    <div class="copy_right"><p>Copyright © 2021 K.T. Inc. All Rights Reserved.</p></div>
  </div>

</header>