<%# ヘッダー %>
<header>

<div class="container">
  <div class="header_logo">
    <%= image_tag "logo.png", class:"header_image_logo" %>
  </div>

  <div class="header_nav">
    <ul >
      <span style="font-family: Comic Sans MS;">
      <li class="header_list" id="hl_left"><ruby>新<rt>あたら</rt></ruby>しく「やさしいHP」へ <ruby>私<rt>わたし</rt></ruby>は <ruby>入<rt>はい</rt><ruby>ります</li>
      <li class="header_list" id="hl_center">Facebookで「やさしいHP」へ <ruby>私<rt>わたし</rt></ruby>は <ruby>入<rt>はい</rt><ruby>ります</li>
      <li class="header_list" id="hl_right">「やさしいHP」へ <ruby>私<rt>わたし</rt></ruby>は <ruby>入<rt>はい</rt><ruby>ります</li></span>
    </div>
  </div>

</div>
</header>
<%# /ヘッダー %>
