<%= render "shared/header" %>


  <div class="kind_wrapper">
  <span style="font-family: Comic Sans MS;">
    <div class="kind_japanese">
   「やさしい<ruby>日本語<rt>にほんご</rt></ruby>」の <ruby>５<rt>いつ</rt></ruby>つの わかりません
    </div>
    </span>
  </div>

<div class="q_a">
<div class="cp_qa">
<dl>
	<dt>① やさしい <ruby>日本語<rt>にほんご</rt></ruby> とは <ruby>何<rt>なん</rt></ruby>ですか？</dt>

	<dd>それは <ruby>日本語<rt>にほんご</rt></ruby>に <ruby>慣<rt>な</rt></ruby>れていない <ruby>外国<rt>がいこく</rt></ruby>の <ruby>人<rt>ひと</rt></ruby>のための 
  <ruby>親切<rt>しんせつ</rt></ruby>な <ruby>日本語<rt>にほんご</rt></ruby>です。10<ruby>才<rt>さい</rt></ruby>くらいの <ruby>日本人<rt>にほんじん</rt></ruby>の
  <ruby>子<rt>こ</rt></ruby>どもが <ruby>勉強<rt>べんきょう</rt></ruby>する <ruby>日本語<rt>にほんご</rt></ruby>と <ruby>同<rt>おな</rt></ruby>じ やさしさです。
  やさしい<ruby>日本語<rt>にほんご</rt></ruby>で <ruby>書<rt>か</rt></ruby>いた <ruby>文章<rt>ぶんしょう</rt></ruby>は <ruby>日本語<rt>にほんご</rt></ruby>を
  <ruby>始<rt>はじ</rt></ruby>めた <ruby>人<rt>ひと</rt></ruby>も <ruby>読<rt>よ</rt></ruby>むことが <ruby>簡単<rt>かんたん</rt></ruby>です。</dd>

	<dt> ② どのような<ruby>理由<rt>りゆう</rt></ruby>でやさしい<ruby>日本語<rt>にほんご</rt></ruby>が <ruby>生<rt>う</rt></ruby>まれましたか？</dt>

	<dd> 1995<ruby>年<rt>ねん</rt></ruby>に、<ruby>兵庫県<rt>ひょうごけん</rt></ruby>などで <ruby>起<rt>お</rt></ruby>きた <ruby>大<rt>おお</rt></ruby>きな
  <ruby>地震<rt>じしん</rt></ruby>（<ruby>阪神淡路大震災<rt>はんしんあわじだいしんさい</rt></ruby>）が <ruby>理由<rt>りゆう</rt></ruby>で <ruby>生<rt>う</rt></ruby>まれました。
  その<ruby>時<rt>とき</rt></ruby>、<ruby>兵庫県<rt>ひょうごけん</rt></ruby>にいた <ruby>多<rt>おお</rt></ruby>くの <ruby>外国<rt>がいこく</rt></ruby>の <ruby>人<rt>ひと</rt></ruby>たちは どのように
  <ruby>生活<rt>せいかつ</rt></ruby>するか <ruby>困<rt>こま</rt></ruby>って しまいました。
  そこで、<ruby>大<rt>おお</rt></ruby>きな <ruby>地震<rt>じしん</rt></ruby>や <ruby>台風<rt>たいふう</rt></ruby>などの <ruby>大変<rt>たいへん</rt></ruby>なことが <ruby>起<rt>お</rt></ruby>きた
  <ruby>時<rt>とき</rt></ruby>のために、この やさしい<ruby>日本語<rt>にほんご</rt></ruby>が <ruby>役<rt>やく</rt></ruby>に <ruby>立<rt>た</rt></ruby>ちます。</dd>

  <dt>③ やさしい<ruby>日本語<rt>にほんご</rt></ruby>はどこでよく<ruby>見<rt>み</rt></ruby>ることができますか？</dt>

	<dd> <ruby>日本<rt>にほん</rt></ruby>の <ruby>有名<rt>ゆうめい</rt></ruby>な TVである NHKの HPで、やさしい<ruby>日本語<rt>にほんご</rt></ruby> の NEWSを <ruby>毎日<rt>まいにち</rt></ruby>
  <ruby>見<rt>み</rt></ruby>ることが できます。(https://www3.nhk.or.jp/news/easy/)</dd>

  <dt>④ どのくらいの<ruby>日本人<rt>にほんじん</rt></ruby>が やさしい<ruby>日本語<rt>にほんご</rt></ruby>を <ruby>知<rt>し</rt></ruby>って いますか？</dt>

	<dd> 2019<ruby>年<rt>ねん</rt></ruby>に<ruby>日本<rt>にほん</rt></ruby>の<ruby>国<rt>くに</rt></ruby>(<ruby>文化庁<rt>ぶんかちょう</rt></ruby>)が<ruby>調<rt>しら</rt></ruby>べたところ、
  ３０%くらいの<ruby>日本人<rt>にほんじん</rt></ruby>だけが、やさしい<ruby>日本語<rt>にほんご</rt></ruby>を<ruby>知<rt>し</rt></ruby>っています。
  (https://www.bunka.go.jp/koho_hodo_oshirase/hodohappyo/pdf/92531901_01.pdf)</dd>

  <dt>⑤ どのように やさしい<ruby>日本語<rt>にほんご</rt></ruby> は<ruby>使<rt>つか</rt></ruby>いますか？</dt>
	<dd>1.<ruby>漢字<rt>かんじ</rt></ruby>には ふりがなを ふりましょう!<br> 2.<ruby>主語<rt>しゅご</rt></ruby>や <ruby>述語<rt>じゅつご</rt></ruby>などを しっかり <ruby>書<rt>か</rt></ruby>きましょう!<br> 
  3.<ruby>文<rt>ぶん</rt></ruby>と <ruby>文<rt>ぶん</rt></ruby>に <ruby>間<rt>あいだ</rt></ruby>を <ruby>入<rt>い</rt></ruby>れましょう!<br> 4.です、ますの <ruby>形<rt>かたち</rt></ruby>で <ruby>書<rt>か</rt></ruby>きましょう!<br>
   5.<ruby>文<rt>ぶん</rt></ruby>は <ruby>短<rt>みじか</rt></ruby>い <ruby>文章<rt>ぶんしょう</rt></ruby>で <ruby>書<rt>か</rt></ruby>きましょう!</dd>
  
</dl>

</div>
<p class="last_say">では やさしい<ruby>日本語<rt>にほんご</rt></ruby>を <ruby>使<rt>つか</rt></ruby>ってみましょう！！</p>



</div>





<%= render "shared/footer" %>