<%= render "shared/header" %>


  <div class="kind_wrapper">
  <span style="font-family: Comic Sans MS;">
    <div class="kind_japanese">
   ５つのやさしい日本語のわからないところ
    </div>
    </span>
  </div>

<div class="q_a">
<div class="cp_qa">
<dl>
	<dt>①やさしい日本語とは何ですか？</dt>
	<dd>それは日本語に 慣れていない 外国の人の ための 親切な 日本語です。日本人の 小学生3年生が 学習する 日本語と 同じくらいの やさしさです。
  やさしい日本語で書いた内容は日本語が苦手な人も読むことが簡単です。</dd>
	<dt> ②どのような理由でやさしい日本語が 生まれましたか？</dt>
	<dd> 1995年に、兵庫県などで起きた大きな地震（阪神淡路大震災）が理由で生まれました。その時、兵庫県にいた多くの外国人がどうしていいか わからなくなりました。
  そこで、大きな地震や台風など大変な災害が起きた時のために、このやさしい日本語が役にたちます。</dd>
  <dt>③やさしい日本語はどこでよく見ることができますか？</dt>
	<dd>日本の有名なTVであるNHKで、やさしい日本語で書いたニュースを毎日、見ることができます。(https://www3.nhk.or.jp/news/easy/)</dd>
  <dt>④どのくらいの日本の人がやさしい日本語を知っていますか？</dt>
	<dd>2019年の日本の機関（文化庁）の調査によると約３０%の人だけが、やさしい日本語を知っています。
  （https://www.bunka.go.jp/koho_hodo_oshirase/hodohappyo/pdf/92531901_01.pdf）</dd>
  <dt>⑤どのように やさしい日本語 は使い ますか？</dt>
	<dd>1.漢字にはふりがなをふりましょう!<br> 2.主語と述語をしっかり書きましょう!<br> 3.文と文の間に空白を入れましょう!<br> 4.です、ますの形で書きましょう!<br>
   5.文は短い文章で書きましょう!<dd>
   では、やさしい日本語を使って、交流しましょう！！



</dl>
</div>




</div>





<%= render "shared/footer" %>