<%= render "shared/header" %>


  <div class="kind_wrapper">
  <span style="font-family: Comic Sans MS;">
    <div class="kind_japanese">
   「やさしい<ruby>日本語<rt>にほんご</rt></ruby>」の <ruby>５<rt>いつ</rt></ruby>つの わかりません
    </div>
    </span>
  </div>

<div class="q_a">
<div class="cp_qa">
<dl>
	<dt>① やさしい <ruby>日本語<rt>にほんご</rt></ruby> とは <ruby>何<rt>なん</rt></ruby>ですか？</dt>

	<dd>それは <ruby>日本語<rt>にほんご</rt></ruby>に <ruby>慣<rt>な</rt></ruby>れていない <ruby>外国<rt>がいこく</rt></ruby>の <ruby>人<rt>ひと</rt></ruby>のための 
  <ruby>親切<rt>しんせつ</rt></ruby>な <ruby>日本語<rt>にほんご</rt></ruby>です。10<ruby>才<rt>さい</rt></ruby>くらいの <ruby>日本人<rt>にほんじん</rt></ruby>の
  <ruby>子<rt>こ</rt></ruby>どもが <ruby>勉強<rt>べんきょう</rt></ruby>する <ruby>日本語<rt>にほんご</rt></ruby>と <ruby>同<rt>おな</rt></ruby>じ やさしさです。
  やさしい<ruby>日本語<rt>にほんご</rt></ruby>で <ruby>書<rt>か</rt></ruby>いた <ruby>文章<rt>ぶんしょう</rt></ruby>は <ruby>日本語<rt>にほんご</rt></ruby>を
  <ruby>始<rt>はじ</rt></ruby>めた <ruby>人<rt>ひと</rt></ruby>も <ruby>読<rt>よ</rt></ruby>むことが <ruby>簡単<rt>かんたん</rt></ruby>です。</dd>

	<dt> ② どのような理由でやさしい日本語が 生まれましたか？</dt>
	<dd> 1995年に、兵庫県などで起きた大きな地震（阪神淡路大震災）が理由で生まれました。その時、兵庫県にいた多くの外国の人がどのように生活するか 困ってしまいました。
  そこで、大きな地震や台風など大変な災害が起きた時のために、このやさしい日本語が役にたちます。</dd>
  <dt>③ やさしい日本語はどこでよく見ることができますか？</dt>
	<dd>日本の有名なTVであるNHKのHPで、やさしい日本語のニュースを毎日、見ることができます。(https://www3.nhk.or.jp/news/easy/)</dd>
  <dt>④ どのくらいの日本の人がやさしい日本語を知っていますか？</dt>
	<dd>2019年の日本の国（文化庁）の調査によると約３０%の人だけが、やさしい日本語を知っています。
  （https://www.bunka.go.jp/koho_hodo_oshirase/hodohappyo/pdf/92531901_01.pdf）</dd>
  <dt>⑤ どのように やさしい日本語 は使い ますか？</dt>
	<dd>1.漢字にはふりがなをふりましょう!<br> 2.主語と述語をしっかり書きましょう!<br> 3.文と文の間に空白を入れましょう!<br> 4.です、ますの形で書きましょう!<br>
   5.文は短い文章で書きましょう!</dd>
  
</dl>

</div>
<p class="last_say">では、やさしい日本語を使って、交流しましょう！！</p>



</div>





<%= render "shared/footer" %>