<%= render "shared/header2" %>


  <div class="kind_wrapper">
  <span style="font-family: Comic Sans MS;">
    <div class="kind_japanese">
   「やさしい<ruby>日本語<rt>にほんご</rt></ruby>」を あなたは <ruby>知<rt>し</rt></ruby>って いますか？？ 
    </div>
    </span>
  </div>


<%= render "shared/footer2" %>