.session_top {
  width: 1025px;
  height: 50px;
  margin: 0 auto;
  padding: 0 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.session_top {
  line-height: 2.2;
	font-family: 'Noto Sans JP', sans-serif;
 font-weight: 800;
 color: #FF4500;
 font-size: 19px;
 letter-spacing: 0.1em;
}


.session_main {
  width: 1025px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 3px white;
  padding: 0.1em 0.6em;
  color: #454545;
  border-radius: 0.4em;
  

}
.session_container {
  display: flex;
  justify-content: center;
  line-height: 1.8;
  font-size: 18px;
  font-family: 'M PLUS 1p', sans-serif;
  
}
.flash_error {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
  line-height: 1.6;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-bottom: 15px;
  
}


.session_btn {
  margin-top: 15px;
  margin-left: 468px;
  margin-bottom: 10px;
}

.session_password {
  
}
.session_space {
  height: 30px;
}